*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

.main {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f5f7fa;

}

.recipes {
    list-style: none;
}

a::hover {
    color: azure;
}

.footer {
    display: flex;
    justify-content: space-between;
}
